body{
    height: 100vh;
    width: 100vw;
}
.body{
    position: absolute;
    top: 0px;
    z-index: -1;
    height:100vh;
    width:100vw;
    background-color: rgb(33,36,177);
    /* background-image:linear-gradient(to left,rgb(76, 76, 235),rgb(227, 220, 220),rgb(76, 76, 235)); */
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
    /* clip-path: polygon(25% 0%, 100% 0, 100% 82%, 51% 43%); */
  
    
}
.form-control{
    font-family: 'Times New Roman', Times, serif;
}
.text-center{
    font-family: 'Times New Roman', Times, serif;
}

:hover.forgetten{
    color:white;
}
:hover.btn{
    background-color:rgb(33,36,177);
    color:white;
    height:9vh;
    width:8vw;

}